.col-sm-6{
      background-color: rgb(134, 200, 2);
  }

  .card{
      background-color: black;
      border-color: whitesmoke;
      
  }
  .card-name :hover{
    color:white;
  }

  .card-name{
      color:rgb(134, 200, 2);
  }

  .search{
      background-color:rgb(134, 200, 2);
  }

  .h2{
      color: rgb(34, 232, 34);
  }